h1{
    background-color: chocolate;
    color: white;
}
body{
    font-family: 'Lucida Sans';
    background-color: antiquewhite;
}
footer{
    background-color: chocolate;
    color: white;
    margin-top: 18px;
 }